<section class="py-24 bg-slate-50 dark:bg-slate-900/30" *ngIf="clientResponse && clientResponse.length >0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h2
        class="font-heading text-4xl font-800 text-slate-900 dark:text-white mb-4"
      >
        Client Testimonials
      </h2>
      <div class="h-1.5 w-24 bg-green-600 rounded-full"></div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
      @for (client of clientResponse; track $index) {
        <div
        class="glass-card p-10 rounded-2xl shadow-sm border border-slate-200 dark:border-slate-800 relative"
      >
        <span
          class="material-symbols-outlined text-green-600/20 text-7xl absolute top-6 right-8"
        >
          <i class="fa-solid fa-quote-right"></i>
        </span>
        <p
          class="text-lg text-slate-600 dark:text-slate-300 italic mb-8 relative z-10"
        >
          {{client.description }}
        </p>
        <div class="flex items-center gap-4">
          <div
            class="w-12 h-12 bg-indigo-900 rounded-full flex items-center justify-center"
          >
             <ng-container *ngIf="client.clientImageId; else userIcon">
              <img
                [secureImage]="client.clientImageId"
                class="w-full h-full object-cover rounded-full"
              />
            </ng-container>

            <ng-template #userIcon>
              <i class="pi pi-user text-white text-lg"></i>
            </ng-template>
          </div>
          <div>
            <h4 class="font-bold text-slate-900 dark:text-white">
              {{ client.position }}
            </h4>
            <p class="text-sm text-slate-500">
              {{ client.companyName }}
            </p>
          </div>
        </div>
      </div>
      }
      
    </div>
  </div>
</section>