<!-- ── HEADER ── -->
<header class="sticky top-0 z-40 bg-white/70 backdrop-blur border-b shadow-sm border-slate-500/10">
  <div class="max-w-6xl mx-auto flex items-center justify-between h-16 px-6">
    <!-- Left -->
    <div class="flex items-center gap-3">
      <button
        routerLink="/admin/services"
        class="text-slate-600 hover:text-indigo-900"
      >
        <i class="pi pi-arrow-left text-lg"></i>
      </button>

      <div>
        <p
          class="text-[10px] font-bold uppercase tracking-widest text-indigo-900"
        >
          Service Management
        </p>
        <h1 class="text-lg font-extrabold text-slate-900">
          {{ isEditMode ? "Edit Service" : "Create Service" }}
        </h1>
      </div>
    </div>

    <!-- Right Buttons -->
    <div class="flex gap-3">
      <button
        routerLink="/admin/services"
        class="px-4 py-2 text-sm font-semibold text-slate-600 hover:text-red-600"
      >
        Cancel
      </button>

      <button
        type="button"
        (click)="onSubmit()"
        [disabled]="submitting"
        class="px-5 py-2 rounded-lg bg-indigo-900 text-white text-sm font-semibold hover:bg-indigo-800 disabled:opacity-50"
      >
        <ng-container *ngIf="submitting; else saveText">
          Saving...
        </ng-container>
        <ng-template #saveText>
          {{ isEditMode ? "Update Service" : "Save Service" }}
        </ng-template>
      </button>
    </div>
  </div>
</header>

<!-- ── FORM ── -->
<div class="max-w-5xl mx-auto p-6 md:p-10">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
    <!-- CARD -->
    <div class="grid md:grid-cols-2 md:items-center md:space-x-4 bg-white rounded-2xl shadow-sm border p-6 space-y-5 border-slate-500/40">
      <!-- TITLE -->
      <div>
        <label class="text-xs font-bold uppercase text-slate-600"
          >Title *</label
        >
        <input
          formControlName="title"
          class="mt-2 w-full p-3 border border-indigo-100 rounded-lg bg-slate-50 focus:ring-1 focus:ring-indigo-200 focus:outline-none"
          placeholder="Enter service title"
        />
      </div>

      <!-- TYPE -->
      <div>
        <label class="text-xs font-bold uppercase text-slate-600"
          >Service Type *</label
        >
        <select
          formControlName="type"
          class="mt-2 w-full p-3 border border-indigo-100 rounded-lg bg-slate-50 focus:ring-1 focus:ring-indigo-200 focus:outline-none"
        >
          <option value="">Select Type</option>
          <option *ngFor="let t of serviceTypes" [value]="t">{{ t }}</option>
        </select>
      </div>

      <!-- DESCRIPTION -->
      <div>
        <label class="text-xs font-bold uppercase text-slate-600"
          >Description</label
        >
        <textarea
          formControlName="description"
          rows="4"
          class="mt-2 w-full p-3 border border-indigo-100 rounded-lg bg-slate-50 focus:ring-1 focus:ring-indigo-200 focus:outline-none"
          placeholder="Write service description..."
        ></textarea>
      </div>

      <!-- IMAGE UPLOAD -->
      <div>
        <label class="text-xs font-bold uppercase text-slate-600"
          >Service Image *</label
        >

        <div
          class="mt-2 w-full h-44 border-2 border-indigo-100 border-dashed rounded-xl flex items-center justify-center bg-slate-50 cursor-pointer relative overflow-hidden hover:border-indigo-400 transition"
          (click)="fileInput.click()"
        >
          @if (imageId) {
            <img
            [secureImage]="imageId"
            class="absolute inset-0 w-full h-full object-cover"
          />

          }@else{
            <img
            *ngIf="imagePreview"
            [src]="imagePreview"
            class="absolute inset-0 w-full h-full object-cover"
          />

          <div *ngIf="!imagePreview" class="text-center text-slate-400">
            <i class="pi pi-image text-3xl mb-2"></i>
            <p class="text-sm font-semibold">Click to upload image</p>
            <p class="text-xs">PNG, JPG supported</p>
          </div>
          }
        </div>

        <input
          #fileInput
          type="file"
          accept="image/*"
          hidden
          (change)="onImageSelected($event)"
        />
      </div>
    </div>

    <!-- CARD: PROCESS STEPS -->
    <div class="bg-white rounded-2xl shadow-sm border p-6 border-slate-500/40">
      <div class="flex justify-between items-center mb-3">
        <label class="text-xs font-bold uppercase text-slate-600">
          Process Steps *
        </label>

        <button
          type="button"
          (click)="addProcessStep()"
          class="text-xs font-bold text-indigo-900 hover:text-indigo-500 hover:underline cursor-pointer"
        >
          + Add Step
        </button>
      </div>

      <div
        *ngFor="let step of processSteps.controls; let i = index"
        class="flex gap-2 mb-2"
      >
        <input
          [formControl]="asFormControl(step)"
          class="mt-2 w-full p-3 border border-indigo-100 rounded-lg bg-slate-50 focus:ring-1 focus:ring-indigo-200 focus:outline-none"
          placeholder="Step {{ i + 1 }}"
        />
        <button
          type="button"
          (click)="removeProcessStep(i)"
          class="px-3 text-red-500"
        >
          ✕
        </button>
      </div>
    </div>

    <!-- CARD: EQUIPMENT -->
    <div class="bg-white rounded-2xl shadow-sm border p-6 border-slate-500/40">
      <div class="flex justify-between items-center mb-3">
        <label class="text-xs font-bold uppercase text-slate-600">
          Equipments *
        </label>

        <button
          type="button"
          (click)="addEquipment()"
          class="text-xs font-bold text-indigo-900 hover:text-indigo-500 hover:underline cursor-pointer"
        >
          + Add Equipment
        </button>
      </div>

      <div
        *ngFor="let eq of equipments.controls; let i = index"
        class="flex gap-2 mb-2"
      >
        <input
          [formControl]="asFormControl(eq)"
          class="mt-2 w-full p-3 border border-indigo-100 rounded-lg bg-slate-50 focus:ring-1 focus:ring-indigo-200 focus:outline-none"
          placeholder="Equipment {{ i + 1 }}"
        />
        <button
          type="button"
          (click)="removeEquipment(i)"
          class="px-3 text-red-500"
        >
          ✕
        </button>
      </div>
    </div>

    <!-- CARD: DELIVERABLES -->
    <div class="bg-white rounded-2xl shadow-sm border p-6 border-slate-500/40">
      <div class="flex justify-between items-center mb-3">
        <label class="text-xs font-bold uppercase text-slate-600">
          Deliverables *
        </label>

        <button
          type="button"
          (click)="addDeliverable()"
          class="text-xs font-bold text-indigo-900 hover:text-indigo-500 hover:underline cursor-pointer"
        >
          + Add Deliverable
        </button>
      </div>

      <div
        *ngFor="let d of deliverables.controls; let i = index"
        class="flex gap-2 mb-2"
      >
        <input
          [formControl]="asFormControl(d)"
          class="mt-2 w-full p-3 border border-indigo-100 rounded-lg bg-slate-50 focus:ring-1 focus:ring-indigo-200 focus:outline-none"
          placeholder="Deliverable {{ i + 1 }}"
        />
        <button
          type="button"
          (click)="removeDeliverable(i)"
          class="px-3 text-red-500"
        >
          ✕
        </button>
      </div>
    </div>
  </form>
</div>
