<section class="pb-8 pt-2 bg-background-light dark:bg-background-dark/50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h2
        class="font-heading text-4xl font-800 text-slate-900 dark:text-white mb-4"
      >
        Services
      </h2>
      <div class="h-1.5 w-24 bg-green-600 rounded-full"></div>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 auto-rows-[240px]"
    >
      <!-- Environmental -->
      <div
      routerLink="/services"
        class="group relative overflow-hidden rounded-2xl bg-white dark:bg-slate-800 border border-slate-200 dark:border-slate-700 bento-item"
      >
        <div class="p-8 h-full flex flex-col">
          <span class="material-symbols-outlined text-green-600 text-3xl mb-4"
            ><i class="fa-solid fa-leaf"></i
          ></span>
          <h3
            class="text-lg font-heading font-bold text-slate-900 dark:text-white mb-2"
          >
            Environmental
          </h3>
          <p class="text-slate-500 dark:text-slate-400 text-xs">
            Soil contamination analysis and remediation planning for ecological
            projects.
          </p>
        </div>
      </div>
      <!-- Agirculture -->
      <div
        class="group relative overflow-hidden rounded-2xl bg-green-600/10 dark:bg-slate-900 bento-item border border-green-400 dark:border-slate-700"
         routerLink="/services"
      >
        <div class="p-8 flex flex-col">
          <span class="material-symbols-outlined text-indigo-900 text-4xl mb-6">
            <i class="fa-solid fa-flask"></i>
          </span>
          <h3
            class="text-xl font-heading font-bold text-slate-900 dark:text-white mb-4"
          >
            Agricultural
          </h3>
          <p class="text-slate-500 dark:text-slate-400 text-sm mb-6">
            Partnering with universities for seismic soil studies in the
            Himalayan fault zones.
          </p>
        </div>
      </div>
      <!-- Research -->
      <div
        class="group relative overflow-hidden rounded-2xl dark:bg-slate-900 bento-item border border-slate-200 dark:border-slate-700"
         routerLink="/services"
      >
        <div class="p-8 flex flex-col">
          <span class="material-symbols-outlined text-indigo-900 text-4xl mb-6">
            <i class="fa-solid fa-flask"></i>
          </span>
          <h3
            class="text-xl font-heading font-bold text-slate-900 dark:text-white mb-4"
          >
            Advanced Research
          </h3>
          <p class="text-slate-500 dark:text-slate-400 text-sm mb-6">
            Partnering with universities for seismic soil studies in the
            Himalayan fault zones.
          </p>
        </div>
      </div>
      <!-- Government -->
      <div
        class="group relative overflow-hidden rounded-2xl bg-slate-100 dark:bg-slate-800 bento-item border border-slate-200 dark:border-slate-700"
         routerLink="/services"
      >
        <div class="p-8 h-full flex flex-col">
          <span class="material-symbols-outlined text-indigo-900 text-3xl mb-4">
            <i class="fa-solid fa-gavel"></i>
          </span>
          <h3
            class="text-lg font-heading font-bold text-slate-900 dark:text-white mb-2"
          >
            Government
          </h3>
          <p class="text-slate-500 dark:text-slate-400 text-xs">
            National highway certification and public works compliance testing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
